{{controller.eventToEdit}}<br />
{{controller.eventToEdit.isPrivate}}<br />
{{controller.eventToEdit.isComplete}}<br />
{{controller.eventToEdit.isVolunteerRequired}}<br />

<div class="container row">
    <div class="container col-md-6">
        <h1>Edit Event</h1>
        <a href="/adminEvents"><strong><em>Back to Admin Events...</em></strong></a>
        <form novalidate ng-submit="controller.saveEvent()" name="eventForm">
            <div class="form-group">
                <label>Event Type</label>
                <input type="text" name="eventType" class="form-control" ng-model="controller.eventToEdit.eventType" placeholder="Event type" required />
                <span ng-show="eventForm.eventType.$touched && eventForm.eventType.$error.required" class="error">Event type is required.</span>
            </div>
            <div class="form-group">
                <label>Event Title</label>
                <input type="text" name="eventTitle" class="form-control" ng-model="controller.eventToEdit.eventTitle" placeholder="Event title" required />
                <span ng-show="eventForm.eventTitle.$touched && eventForm.eventTitle.$error.required" class="error">Event Title is required</span>
            </div>
            <div class="form-group">
                <label>Details</label>
                <textarea name="details" class="form-control" rows="3" ng-model="controller.eventToEdit.details" placeholder="Enter event details"></textarea>
            </div>
            <div class="form-group">
                <label>Event Start Date Time, e.g. 01/31/2016 10:30 AM</label>
                <input type="datetime-local" name="eventStartDate" class="form-control" ng-model="controller.eventToEdit.eventStartDate" placeholder="Date format: 2016/01/31 10:30 AM" required />
                <span ng-show="eventForm.eventStartDate.$touched && eventForm.eventStartDate.$error.required" class="error">Event Start Date Time is required</span>
            </div>
            <div class="form-group">
                <label>End Date Time, e.g. 01/31/2016 02:30 PM</label>
                <br />
                <input type="datetime-local" name="eventEndDate" min="0" max="12" width=2 ng-model="controller.eventToEdit.eventEndDate" placeholder="Date format: 2016/01/31 02:30 PM" required />
                <span ng-show="eventForm.eventEndDate.$touched && eventForm.eventEndDate.$error.required" class="error">Event End Date and Time is required</span>
            </div>
            <div class="form-group">
                Is it a private event?
                <label>
                    <input type="radio" id="isPrivate" name="isPrivate"
                           data-ng-value="true" data-ng-model="controller.eventToEdit.isPrivate" />
                    Yes
                </label>
                <label>
                    <input type="radio" id="isNotPrivate" name="isPrivate"
                           data-ng-value="false" data-ng-model="controller.eventToEdit.isPrivate" />
                    No
                </label>
            </div>
            <div class="form-group">
                <label for="isVolunteerRequired">Is volunteer required?:</label>
                <select name="isVolunteerRequired" ng-model="controller.eventToCreate.event.isVolunteerRequired" required>
                    <option id="isVolunteerRequired-yes" value="yes">Yes</option>
                    <option id="isVolunteerRequired-no" value="no">No</option>
                    <option id="isVolunteerRequired-maybe" value="maybe">Maybe</option>
                </select>
                <span ng-show="eventForm.isVolunteerRequired.$touched && eventForm.isVolunteerRequired.$error.required" class="error">Is volunteer required for this event is required</span>
            </div>
            <div class="form-group">
                <label>Number of preferred volunteers</label>
                <input type="number" name="preferredNumberOfExpectedVolunteer" min="0" max="20" value="0" width="2" class="form-control" ng-model="controller.eventToCreate.preferredNumberOfExpectedVolunteer" placeholder="Preferred volunteers" />
            </div>
            <div class="form-group">
                Event Completed?
                <label>
                    <input type="radio" id="isComplete" name="isComplete"
                           data-ng-value="true" data-ng-model="controller.eventToCreate.isComplete" />
                    Yes
                </label>
                <label>
                    <input type="radio" id="isNotComplete" name="isComplete"
                           data-ng-value="false" data-ng-model="controller.eventToCreate.isComplete" />
                    No
                </label>
            </div>
          <div class="form-group">
                <input type="submit" class="btn btn-block btn-success" value="Create" />
                <input type="button" ng-click="controller.cancel()" class="btn btn-block btn-primary" value="Cancel" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th></th>
            </tr>
            <tr ng-repeat="location in controller.eventToEdit.locations">
                <td>{{location.nameOfLocation}}</td>
                <td>{{location.address}}</td>
                <td>{{location.city}}</td>
                <td>{{location.state}}</td>
                <td>{{location.zip}}</td>
                <td>
                    <a href="/event/address/edit/{{controller.eventToEdit.id}}">Edit</a> 
                </td>
            </tr>
        </table>
    </div>
</div>