<div class="row">
    <div class="col-md-12">
        <div class="modal-header">
            <h2>{{controller.eventToDelete.eventType}}</h2>
            <h3>{{controller.eventToDelete.eventTitle}}</h3>
            <h5>{{controller.eventToDelete.eventStartDate | date: "fullDate"}}</h5>
            <hr />
        </div>
        <div class="modal-body">
            <h4>Are you sure you want to delete this event?</h4>
           <ul>
               <li class="error" ng-repeat="error in controller.validationErrors">{{error}}</li>
           </ul>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-block btn-warning" ng-click="controller.deleteEvent()" value="Delete" />
            <input type="button" class="btn btn-block btn-primary" ng-click="controller.close()" value="Close" />
        </div>
    </div>
</div>