<fieldset>
    <legend>Login with a Social Provider</legend>

    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
        </li>
    </ul>

</fieldset>

<fieldset>
    <ul>
        <li class="error" ng-repeat="error in controller.validationMessages">
            {{error}}
        </li>
    </ul>
    <div class="container col-md-4">
        <form ng-submit="controller.login()">
            <div>
                <label>Email:</label>
                <input class="form-control" ng-model="controller.loginUser.email" />
            </div>
            <div>
                <label>Password:</label>
                <input class="form-control" type="password" ng-model="controller.loginUser.password" />
            </div>
            <input type="submit" value="Login" class="btn btn-block btn-success" />
            <a href="/register">Register</a>
        </form>
    </div>
</fieldset>
