<div class="row">
    <div class="col-md-6">
        <h1>My Event Details</h1>
        <hr />
        <a href="/myEvents"><strong><em>Back to My Events...</em></strong></a>
        <h2>{{controller.event.eventTitle}}</h2>
        <h4>{{controller.event.details}}</h4>
    </div>
    <div class="col-md-2">
        <h5>Is voluteers required:  {{controller.event.isVolunteerRequired}}</h5>
        <h5>Number of volunteers wished: {{controller.event.preferredNumberOfExpectedVolunteer}}</h5>
        <p>Page viewed: {{controller.event.views}} times</p>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Event Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>{{controller.event.eventStartDate|date: "fullDate"}}</td>
                <td>{{controller.event.eventStartDate| date:'hh:mm:ss a'}}</td>
                <td>{{controller.event.eventEndDate|date:"shortDate"}} <br />{{controller.event.eventEndDate|date:'hh:mm:ss a'}}</td>
                <td>
                    <table>
                        <tr ng-repeat="location in controller.event.locations">
                            <td>
                                <span class="glyphicon glyphicon-home"></span> {{location.nameOfLocation}} <br />
                                {{location.address}} <br />
                                {{location.city}} {{location.state}} {{location.zip}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <h3>Comments</h3>
        <table class="table table-striped" id="commentsDisplayTable">
            <tr ng-repeat="comment in controller.event.comments">
                <td><span class="glyphicon glyphicon-comment"></span> {{comment.message}}</td>
                <td><font size="1">Date: {{comment.dateCreated|date: "shortDate"}}</font></td>
                <td><font size="1">Added By: {{comment.applicationUserId}}</font></td>
            </tr>
        </table>
    </div>
    <div class="col-md-5">
        <form id="commentForm">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default btn-md" ng-click="controller.voteEvent(1)">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like [{{controller.event.upVote}}]
                    </button>
                    <button type="button" class="btn btn-default btn-md" ng-click="controller.voteEvent(0)">
                        <span class="glyphicon glyphicon-thumbs-down"></span>Unlike [{{controller.event.downVote}}]
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <textarea rows="5" cols="12" class="form-control" ng-model="controller.eventComment.message" placeholder="add your comment..." ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="button" ng-click="controller.saveComment()" class="btn btn-primary btn-block" value="Add Comment" />
                    <input type="button" ng-click="controller.cancel()" class="btn btn-default btn-block" value="Cancel" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6">
               <ul>
                   <li ng-repeat="error in controller.validationErrors">{{error}}</li>
               </ul>
            </div>
        </div>
    </div>
</div>