body {
    padding-top: 15px;
    padding-bottom: 20px;
    background: #EEE9F1;
}

modal {
     background: #EEE9F1;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h1,
h3,
h4{

  color: #09093B;
  font-style: italic;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif
}

span{
    color: #4D4DA6;
}

h2{
    color: #4D4DA6;
    font-family: 'Times New Roman', Times, serif
}

.error{
    color: red;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 280px;*/
  
    max-width: 550px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
