<html xmlns="http://www.w3.org/1999/xhtml" ng-app="SupportApp">
<head>
    <title>We Connect You Here</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/lib/bootswatch/cerulean/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account" ng-cloak>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navLinks">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li><img src="~/images/logo.png" width="50" height="50" class="img-rounded" /></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/myEvents" ng-show="account.isUser==true">My Events</a></li>
                    <li><a href="/adminEvents" ng-show="account.userClaim.isAdmin=='true'">Admin Events</a></li>
                    <li><a href="/secret" ng-show="account.userClaim.isAdmin=='true'">Secret</a></li>
                    <li><a href="/login" ng-show="!account.isLoggedIn()">Login</a></li>
                    <li><a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div ng-show="account.isLoggedIn()">
            [{{account.getUserName()}}]
        </div>
    </div>
    <hr />
    <div class="container">
        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-filter/dist/angular-filter.min.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/services/services.js"></script>
    <script src="~/ngApp/services/eventServices.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    @* Home page controlelrs *@
    <script src="~/ngApp/controllers/homeController.js"></script>
    <script src="~/ngApp/controllers/historyEventsController.js"></script>
    <script src="~/ngApp/controllers/activeEventDetailController.js"></script>
    <script src="~/ngApp/controllers/historyEventDetailController.js"></script>
    @* My Event page controlelrs *@
    <script src="~/ngApp/controllers/myEventsController.js"></script>
    <script src="~/ngApp/controllers/myHistoryEventsController.js"></script>
    <script src="~/ngApp/controllers/myEventDetailController.js"></script>
    <script src="~/ngApp/controllers/myHistoryEventDetailController.js"></script>
    @* Admin Event page controllers *@
    <script src="~/ngApp/controllers/adminEventsController.js"></script>
    <script src="~/ngApp/controllers/adminHistoryEventsController.js"></script>
    <script src="~/ngApp/controllers/adminEventDetailController.js"></script>
    <script src="~/ngApp/controllers/adminHistoryEventDetailController.js"></script>

    <script src="~/ngApp/controllers/userEventCreateController.js"></script>
    <script src="~/ngApp/controllers/eventDeleteDialogController.js"></script>

    <script src="~/ngApp/controllers/eventAddressAddController.js"></script>
    <script src="~/ngApp/controllers/eventAddressEditController.js"></script>
    <script src="~/ngApp/controllers/eventEditController.js"></script>


    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
